// Variables
$Font-size: 12px;
$GameFont-size: 16px;

$TetraminoSize: 30px;
$GameWidth: 16;
$GameHeight: 20;

$NextWidth: 6;
$NextHeight: 4;
//----------------------------------------------------------------------------------------------------

//General class
.hide {
    display: none !important;
}