@import "_base";
@import "_reset";

body {
    background-color: gray;

    header{
        margin:auto;
        width:100%;
        text-align: center;
        background-color:red;
    }

    main{
        margin:auto;
        width:100%;
        text-align: center;
        background-color:green;

        .mainGameArea {
            display: flex;
            justify-content: center;

            > div{
                margin: 0 20px;
            }

            .GameBoard{
                height: $GameHeight * $TetraminoSize;
                width: $GameWidth * $TetraminoSize;
                background: #000000;
                margin:auto;
                border: 1px solid red;
            }

            .NextBoard {
                height: $NextHeight * $TetraminoSize;
                width: $NextWidth * $TetraminoSize;
                background: #000000;
                margin:auto;
                border: 1px solid red;
            }
        }
    }

    footer{
        margin:auto;
        width:100%;
        text-align: center;
        background-color:blue;
    }
}