@import "_base";
@import "_reset";

body {
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    header, footer{
        margin:auto;
        padding:15px 0;
        width:100%;
        text-align: center;
        background-color: $DarkGray;
        color: $White;
    }

    header{
        h1 {
            font-weight: 100;
        }
    }

    footer {
        text-align: left;
    }

    main{
        max-width: 1200px;
        width: 100%;
        margin:auto;
        padding: 20px;
        text-align: center;
        background-color:$White;

        .description{
            padding-bottom: 20px;
        }

        p {
            margin-bottom: 10px;

            &:last-of-type{
                margin-bottom: 0px;
            }
        }

        .mainGameArea {
            display: flex;
            justify-content: center;

            > div{
                margin: 0 20px;
            }

            .GameBoard{
                height: $GameHeight * $TetraminoSize;
                width: $GameWidth * $TetraminoSize;
                background: $LightBeige;
                margin:auto;
                border: 1px solid $Black;
            }

            .nextArea{
                text-align: left;

                ul{
                    list-style: none;
                    margin:0;
                    padding:0;

                    li {
                        margin: 10px 0;

                        span {
                            font-weight: 600;
                        }
                    }
                }

                .NextBoard {
                    height: $NextHeight * $TetraminoSize;
                    width: $NextWidth * $TetraminoSize;
                    background: $LightBeige;
                    margin:auto;
                    border: 1px solid $Black;
                }
            }
        }
    }
}