@import "_base";
@import "_reset";

body {
    background-color: gray;

    header{
        margin:auto;
        width:100%;
        text-align: center;
        background-color:red;
    }

    main{
        margin:auto;
        width:100%;
        text-align: center;
        background-color:green;
    }

    footer{
        margin:auto;
        width:100%;
        text-align: center;
        background-color:blue;
    }
}

.Gameboard{
    height: $GameHeight * $TetraminoSize;
    width: $GameWidth * $TetraminoSize;
    background: #000000;
    margin:auto;
}